<script src="https://js.stripe.com/v3/"></script>
    <link rel='stylesheet' href='/stylesheets/checkout.css'/>
<form class="col-md-6 offset-md-3">
  <label>
    <input name="cardholder-name" class="field is-empty" placeholder="Jhon Doe" />
    <span>
      <span>Name</span>
    </span>
  </label>
  <label>
    <input class="field is-empty" type="tel" placeholder="(123) 456-7890" />
    <span>
      <span>Phone number</span>
    </span>
  </label>
  <label>
    <div id="card-element" class="field is-empty"></div>
    <span>
      <span>Credit or debit card</span>
    </span>
  </label>
  <button type="submit">Pay ${{total}}</button>
  <div class="outcome">
    <div class="error" role="alert"></div>
    <div class="success">
      Success! Your Stripe token is
      <span class="token"></span>
    </div>
  </div>
</form>

<script type="text/javascript" src="javascripts/checkout.js"></script>