<div class="album py-5">
  <div class="row">
    <div class="col-md-4">
      <div class="card mb-4 box-shadow">
        <img class="card-img-top img-responsive" class="home_cards_params" src="http://via.placeholder.com/600x400"
          data-holder-rendered="true">
        <div class="card-body">
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a
            little bit longer.</p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
              <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
              <button type="button" style="border-color: #6c757d;" class="btn btn-sm btn-success">Buy</button>
            </div>
            <div class="price">$9</div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card mb-4 box-shadow">
        <img class="card-img-top img-responsive" class="home_cards_params" src="http://via.placeholder.com/600x400" data-holder-rendered="true">
        <div class="card-body">
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little
            bit longer.</p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
              <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
              <button type="button" style="border-color: #6c757d;" class="btn btn-sm btn-success">Buy</button>
            </div>
            <div class="price">$9</div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card mb-4 box-shadow">
        <img class="card-img-top img-responsive" class="home_cards_params" src="http://via.placeholder.com/600x400" data-holder-rendered="true">
        <div class="card-body">
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little
            bit longer.</p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
              <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
              <button type="button" style="border-color: #6c757d;" class="btn btn-sm btn-success">Buy</button>
            </div>
            <div class="price">$9</div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
      <div class="card mb-4 box-shadow">
        <img class="card-img-top img-responsive" class="home_cards_params" src="http://via.placeholder.com/600x400" data-holder-rendered="true">
        <div class="card-body">
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little
            bit longer.</p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
              <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
              <button type="button" style="border-color: #6c757d;" class="btn btn-sm btn-success">Buy</button>
            </div>
            <div class="price">$9</div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card mb-4 box-shadow">
        <img class="card-img-top img-responsive" class="home_cards_params" src="http://via.placeholder.com/600x400" data-holder-rendered="true">
        <div class="card-body">
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little
            bit longer.</p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
              <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
              <button type="button" style="border-color: #6c757d;" class="btn btn-sm btn-success">Buy</button>
            </div>
            <div class="price">$9</div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card mb-4 box-shadow">
        <img class="card-img-top img-responsive" class="home_cards_params" src="http://via.placeholder.com/600x400" data-holder-rendered="true">
        <div class="card-body">
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little
            bit longer.</p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
              <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
              <button type="button" style="border-color: #6c757d;" class="btn btn-sm btn-success">Buy</button>
            </div>
            <div class="price">$9</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>